

.card.custom-class {
  background-color: #221F1F;
}

.fav-movies { 
  margin-bottom: 15px;
  figure {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
    width: 100%;
    img {
      display: block;
      height: 350px;
      margin: auto;
    }
  }
  button {
    display: block;
    margin: auto;
  }
}

.form-control {
  margin-bottom: 10px;
}