@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');

.main-view {
  background-color: #221F1F;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  padding-top: 50px;
}

.sticky-nav {
  background-color: #221F1F !important;
}
// $background_color:#221F1F;
// $primary_text_color:#E50914;
// $secondary_text_color: #F5F5F1;
// $main_font: 'Bebas Neue', cursive;