@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');

.nav {
  padding-top: 0 !important;
  height: 70px !important;
}

.container {
  background-color: #221F1F !important;
  height: 100% !important;
}
