.login-view {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #221F1F;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  height: 100vh;
}

.register-submit {
  text-align: center;
  margin-top: 10px;
}

.form-element {
  margin-top: 20px;
}

.btn-primary {
  background-color: #E50914 !important;
  border-width: 0 !important;
}